<h1><%= link_to @movie.title, movie_path(@movie)%></h1>

<%@ratings.each do |rating|%>

  <h3><%= rating.content %></h3>
  <h2><%= rating.score %> out of 10 </h2>
  <p>Author: <%=rating.user.username%> <%= link_to "See Review", movie_rating_path(@movie, rating) %> </p>

<% end %>
<%= link_to "Back", movie_path(@movie) %>
