<%= form_for(@movie) do |f|%>

<%= f.label :title %><br>
<%= f.text_field :title %><br>

<%= f.label :description %><br>
<%= f.text_area :description %><br>

<p>Select Top-Billed Actor:</p>
<%= f.collection_select :actor_ids, Actor.all, :id, :name %><br>

<p>Create Top-Billed Actor:</p>
<%= f.fields_for(:actors) do |actor_form| %>
    <%= actor_form.label :name %><br>
    <%= actor_form.text_field :name %><br>

    <%= actor_form.label :age %><br>
    <%= actor_form.number_field :age %><br>

    <%= actor_form.label :bio %><br>
    <%= actor_form.text_area :bio %><br>
<% end %>

<%= f.submit%>

<% end %>
