<h1><%= @movie.title %></h1>

<h3>Starring: </h3>
<% @actors.each do |actor| %>
  <h2 class="actor-link" data-id="<%=actor.id%>"><%= link_to actor.name, actor_path(actor) %></h2>
  <div id="actor-body-<%=actor.id%>"></div>
<% end %>

<p><font size="5"><%= @movie.description %></font></p>

<p id="review-link" data-id="<%=@movie.id%>"><%= link_to "See Reviews", movie_ratings_path(@movie) %></p>

<div id="review-body-<%=@movie.id%>"></div><br>

<div id="write-review-body-<%=@movie.id%>"></div>

<%if current_user %>
  <%if current_user.id == @movie.user_id%>
    <%= link_to "Add Actor", "/movies/#{@movie.id}/addactor" %>
    <%= link_to "Edit", edit_movie_path(@movie) %>
    <%= link_to "Delete", movie_path(@movie), method: :delete %>
  <%else%>
    <p id="write-review-link" data-id="<%=@movie.id%>"><%= link_to "Write Review", new_movie_rating_path(@movie) %></p>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".actor-link").on("click", function(event){
    event.preventDefault();
    var id = $(this).data("id");
    $.get("/actors/" + id + ".json", function(data){
      //debugger;
      var actor = new Actor(data["age"],data["bio"])
      //debugger;
      if ($("#actor-body-" + id)[0]["innerText"] == actor.format){
        $("#actor-body-" + id).text("");
      } else {
        $("#actor-body-" + id).text(actor.format);
      }

    });
  });

  $("#write-review-link").on("click", function(event){
    event.preventDefault();
    $("#write-review-body")[0][innerHTML] = '<%= render "ratings/form" %>'
  })

  $("#review-link").on("click", function(event){
    event.preventDefault();
    var id = $(this).data("id");
    $.get("/movies/" + id + "/ratings.json", function(data){
      if (data["ratings"].length == 0) {
        if ($("#review-link")[0]["innerText"] == "See Reviews") {
          $("#review-body-" + id).text("No reviews for this movie yet!")
          $("#review-link")[0]["innerHTML"] = '<%= link_to "Hide Reviews", movie_ratings_path(@movie) %>'
        } else {
          $("#review-body-" + id).text("")
          $("#review-link")[0]["innerHTML"] = '<%= link_to "See Reviews", movie_ratings_path(@movie) %>'
        }
      } else {
        if ($("#review-link")[0]["innerText"] == "See Reviews") {
          //debugger;
          for (var i = 0; i < data["ratings"].length; i++) {
            var rating = new Comment(data["ratings"][i]["score"],data["ratings"][i]["content"]);
            //debugger
            $("#review-body-" + id)[0]["innerHTML"] += rating.format;
            //debugger;
          }
          $("#review-link")[0]["innerHTML"] = '<%= link_to "Hide Reviews", movie_ratings_path(@movie) %>'
        } else {
          $("#review-body-" + id).text("")
          $("#review-link")[0]["innerHTML"] = '<%= link_to "See Reviews", movie_ratings_path(@movie) %>'
        }
      }
    })
  })

});

function Comment(score,content) {
  this.score = score;
  this.content = content;
  this.format = comment_format.call(this);
}

function Actor(age,bio) {
  this.age = age;
  this.bio = bio;
  this.format = actor_format.call(this);
}

function actor_format(){
  return 'Age: ' + this.age + " " + 'Bio: ' + this.bio;
}

function comment_format() {
  return '<p>Score: ' + this.score + ' out of 10</p>' + '<p>' + this.content + '</p>';
}

Comment.prototype = Object.create(Comment.prototype)

</script>
